.tableau {
  table-layout: fixed;
  width: 800px;
  border: 1px solid darkred;
}

tr, td {
  border: solid;
}

td {
  border: 1px solid blue;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tableau {
  font-size: 18px;
}
